NODE_ENV=development
PORT=8000
DATABASE=mongodb+srv://<USERNAME>:<PASSWORD>@cluster0.scvld5o.mongodb.net/natours?retryWrites=true&w=majority
DATABASE_LOCAL=
DATABASE_PASSWORD=<PASSWORD>

JWT_SECRET=<SOMERANDOMSECRET>
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=

EMAIL_USERNAME=your-gmail
EMAIL_PASSWORD=your-password
EMAIL_HOST=
EMAIL_PORT=1234

MAPBOX_ACCESS_TOKEN=

